.tah-bold {
    font-family: Tahoma, serif;
    font-weight: bold;
}

.no-dec-link {
    text-decoration: none;
}

.rub {
    font-family: Rubrica, serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
    color: #ffffcc;
}

.r-float {
    float: right;
}

.content-link {
    color: #7b7870;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #7b7870;
    line-height: 1.6em;
}

.left-block {
    width: 150px;
    margin: 30px 5px 0 30px;
}

.g-piz-name {
    display: block;
    width: 85px;
    height: 15px;
    background: url("../img/g-piz-name.png") no-repeat;
}

.g-piz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.g-piz-flex {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    color: #975234;
}

.g-piz-comment {
    color: #d18662;
    font-weight: bold;
}

.g-piz-text {
    margin: 15px 0 0;
}

.right-block {
    width: 220px;
    margin: 20px auto 0;
    line-height: 1.4em;
}

.right-block > .tah-bold {
    font-size: 12px;
    color: #585651;
}

.contact {
    width: 385px;
    grid-area: contact;
}

.contacts-wrap {
    margin-bottom: 25px;
}

.phone-numbers {
    width: 120px;
}

.mail-link {
    color: #585651;
}

.form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 15px;
}

.first-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.form-item {
    width: 85px;
    height: 15px;
    border-top: 1.5px solid #5a5a5a;
    border-right: 1.5px solid #5a5a5a;
    margin: 0 5px 5px 0;
    font-size: 10px;
    padding-left: 5px;
}

.form-name {
    font-size: 12px;
    font-weight: bold;
}

.big-text-block {
    width: 185px;
    padding: 0 0 50px 5px;
}

.second-row {
    margin-left: 70px;
}

.form-button {
    width: 60px;
    height: 17px;
    padding: 0;
    font-size: 10px;
    border: 1px solid #aca48d;
    border-radius: 3px;
    background: url("../img/button.png") no-repeat;
    color: #696761;
}

.cont-back {
    max-width: 379px;
    height: 53px;
    margin-top: 1px;
    margin-left: 2.5px;
    background: url("../img/path.png") no-repeat;
    padding: 15px 15px 15px;
    line-height: 1em;
}

.contact-item {
    color: #ffffcc;
}

.contact-tag {
    background: url("../img/really-fast-pizza.png") no-repeat;
    width: 179px;
    height: 16px;
    display: inline-block;
}

.contact-span {
    background: url("../img/phone-back.png") no-repeat;
    width: 135px;
    height: 16px;
    display: inline-block;
}

.contact-item:first-child {
    margin-right: 25px;
}

.contact-item:nth-child(4) {
    letter-spacing: 0.5px;
}

.contact-item:last-child {
    float: right;
    margin-right: 14px;
    letter-spacing: 0.4px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cont-back {
        position: relative;
        top: 426px;
    }

    .content {
        margin-top: 60px;
    }

    .left-block {
        margin: 30px 0 0 40px;
    }

    .right-block {
        margin-left: 5px;
    }
}
